<a href="https://colab.research.google.com/github/mohabedalgani/BioInduction/blob/main/Class_2_PhiSci_Phase_2_task_1_15_3_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
ensemble_genes_IDs = pd.read_csv("/content/ensemble_genes_IDs_class2.csv")

In [3]:
filtered_genes_DF = pd.read_csv("/content/filtered_genes_DF.csv")

In [4]:
# DF2
ensemble_genes_IDs.head()

    Entry          Ensembl Gene_ID
0  Q7L0R7  ENSG00000146083  22838;
1  Q9NVJ2  ENSG00000134108  55207;
2  P10619  ENSG00000064601   5476;
3  P24001  ENSG00000008517   9235;
4  Q14140  ENSG00000179833   9792;

In [5]:
ensemble_genes_IDs.replace(';','', regex=True, inplace=True)

In [6]:
ensemble_genes_IDs.dtypes

Entry      object
Ensembl    object
Gene_ID    object
dtype: object

In [7]:
len(ensemble_genes_IDs)

2794

In [8]:
ensemble_genes_IDs['Gene_ID'].isna().sum()

96

In [13]:
ensemble_genes_IDs = ensemble_genes_IDs[ensemble_genes_IDs['Gene_ID'].notna()]
ensemble_genes_IDs['Gene_ID'] = ensemble_genes_IDs['Gene_ID'].apply(pd.to_numeric, errors='coerce')
#ensemble_genes_IDs['Gene_ID'] = ensemble_genes_IDs['Gene_ID'].dropna()

In [14]:
ensemble_genes_IDs['Gene_ID'].isna().sum()

0

In [15]:
len(ensemble_genes_IDs)

2698

In [16]:
ensemble_genes_IDs['Gene_ID'] = ensemble_genes_IDs['Gene_ID'].astype('int64')
ensemble_genes_IDs.dtypes

Entry      object
Ensembl    object
Gene_ID     int64
dtype: object

In [17]:
filtered_genes_DF.dtypes

Unnamed: 0       int64
Unnamed: 0.1     int64
1               object
4                int64
5                int64
6               object
Gene_ID          int64
dtype: object

In [18]:
filtered_genes_DF['Gene_ID'].isna().sum()

0

In [19]:
# DF1
filtered_genes_DF.head()

   Unnamed: 0  Unnamed: 0.1             1      4      5  6    Gene_ID
0           0             0  NC_000001.11  17369  17436  -  102466751
1           1             1  NC_000001.11  29926  31295  +  107985730
2           2             2  NC_000001.11  30366  30503  +  100302278
3           3             3  NC_000001.11  34611  36081  -     645520
4           4             4  NC_000001.11  65419  71585  +      79501

In [20]:
# dropping ALL duplicte values 
filtered_genes_DF.drop_duplicates(subset ="Gene_ID", keep = False, inplace = True)

In [21]:
len(np.unique(filtered_genes_DF['Gene_ID']))

35717

In [22]:
# dropping ALL duplicte values 
ensemble_genes_IDs.drop_duplicates(subset ="Gene_ID", keep = False, inplace = True)

In [23]:
type(filtered_genes_DF['Gene_ID'])

pandas.core.series.Series

In [24]:
filtered_genes_DF.loc[102, "Gene_ID"]

199990

In [25]:
filtered_genes_DF.to_csv("/content/filtered_genes_DF_updated.csv")
ensemble_genes_IDs.to_csv("/content/ensemble_genes_IDs_updated_class2.csv")

In [26]:
#DF1
filtered_genes_DF = pd.read_csv("/content/filtered_genes_DF_updated.csv")
#DF2
ensemble_genes_IDs = pd.read_csv("/content/ensemble_genes_IDs_updated_class2.csv")

In [27]:
filtered_genes_DF = filtered_genes_DF[['1', '4', '5', '6', 'Gene_ID']]
len(filtered_genes_DF)

35717

In [28]:
ensemble_genes_IDs.columns

Index(['Unnamed: 0', 'Entry', 'Ensembl', 'Gene_ID'], dtype='object')

In [29]:
ensemble_genes_IDs = ensemble_genes_IDs[['Entry', 'Ensembl', 'Gene_ID']]
ensemble_genes_IDs.head()

    Entry          Ensembl  Gene_ID
0  Q7L0R7  ENSG00000146083    22838
1  Q9NVJ2  ENSG00000134108    55207
2  P10619  ENSG00000064601     5476
3  P24001  ENSG00000008517     9235
4  Q14140  ENSG00000179833     9792

In [30]:
#ensemble_genes_IDs = ensemble_genes_IDs[['Entry', 'Ensembl','Gene_ID']]
len(ensemble_genes_IDs)

2694

In [31]:
df3 = pd.merge(filtered_genes_DF, ensemble_genes_IDs, on="Gene_ID", how="left")
m = ~df3["Ensembl"].isna()

df3.loc[m, "Gene_ID"] = df3.loc[m, "Ensembl"]

In [32]:
df3 = df3[filtered_genes_DF.columns]

In [33]:
df3 = df3[df3['Gene_ID'].astype('str').str.contains("ENSG")]
#df3['Gene_ID'].isna().sum()

In [36]:
#DF3
df3[filtered_genes_DF.columns].to_csv("/content/ensemble_genes_IDs_updated_df3_class2.csv")

In [35]:
df3[filtered_genes_DF.columns].head()

               1        4        5  6          Gene_ID
32  NC_000001.11  1020102  1056119  +  ENSG00000188157
45  NC_000001.11  1216908  1232005  -  ENSG00000078808
61  NC_000001.11  1352689  1363541  -  ENSG00000162576
63  NC_000001.11  1385711  1399336  -  ENSG00000221978
68  NC_000001.11  1418420  1422471  -  ENSG00000235098