<a href="https://colab.research.google.com/github/mohabedalgani/BioInduction/blob/main/PhiSci_Phase_2_task_1_14_3_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [152]:
import pandas as pd
import numpy as np

In [180]:
ensemble_genes_IDs = pd.read_csv("/content/ensemble_genes_IDs.csv")

In [181]:
filtered_genes_DF = pd.read_csv("/content/filtered_genes_DF.csv")

In [182]:
# DF2
ensemble_genes_IDs.head()

   Unnamed: 0   Entry          Ensembl Gene_ID
0           0  Q7L0R7  ENSG00000146083   22838
1           1  P62750  ENSG00000198242    6147
2           2  Q9NVJ2  ENSG00000134108   55207
3           3  Q96ES6  ENSG00000167700  113655
4           4  P35080  ENSG00000070087    5217

In [183]:
ensemble_genes_IDs.dtypes

Unnamed: 0     int64
Entry         object
Ensembl       object
Gene_ID       object
dtype: object

In [184]:
len(ensemble_genes_IDs)

5423

In [185]:
ensemble_genes_IDs['Gene_ID'].isna().sum()

105

In [190]:
ensemble_genes_IDs = ensemble_genes_IDs[ensemble_genes_IDs['Gene_ID'].notna()]
#ensemble_genes_IDs['Gene_ID'] = ensemble_genes_IDs['Gene_ID'].apply(pd.to_numeric, errors='coerce')
#ensemble_genes_IDs['Gene_ID'] = ensemble_genes_IDs['Gene_ID'].dropna()

In [191]:
ensemble_genes_IDs['Gene_ID'].isna().sum()

0

In [192]:
len(ensemble_genes_IDs)

5318

In [193]:
ensemble_genes_IDs['Gene_ID'] = ensemble_genes_IDs['Gene_ID'].astype('int64')
ensemble_genes_IDs.dtypes

Unnamed: 0     int64
Entry         object
Ensembl       object
Gene_ID        int64
dtype: object

In [194]:
filtered_genes_DF.dtypes

Unnamed: 0       int64
Unnamed: 0.1     int64
1               object
4                int64
5                int64
6               object
Gene_ID          int64
dtype: object

In [195]:
filtered_genes_DF['Gene_ID'].isna().sum()

0

In [196]:
# DF1
filtered_genes_DF.head()

   Unnamed: 0  Unnamed: 0.1             1      4      5  6    Gene_ID
0           0             0  NC_000001.11  17369  17436  -  102466751
1           1             1  NC_000001.11  29926  31295  +  107985730
2           2             2  NC_000001.11  30366  30503  +  100302278
3           3             3  NC_000001.11  34611  36081  -     645520
4           4             4  NC_000001.11  65419  71585  +      79501

In [197]:
# dropping ALL duplicte values 
filtered_genes_DF.drop_duplicates(subset ="Gene_ID", keep = False, inplace = True)

In [198]:
len(np.unique(filtered_genes_DF['Gene_ID']))

35717

In [199]:
# dropping ALL duplicte values 
ensemble_genes_IDs.drop_duplicates(subset ="Gene_ID", keep = False, inplace = True)

In [200]:
type(filtered_genes_DF['Gene_ID'])

pandas.core.series.Series

In [202]:
filtered_genes_DF.loc[102, "Gene_ID"]

199990

In [204]:
filtered_genes_DF.to_csv("/content/filtered_genes_DF_updated.csv")
ensemble_genes_IDs.to_csv("/content/ensemble_genes_IDs_updated.csv")

In [251]:
#DF1
filtered_genes_DF = pd.read_csv("/content/filtered_genes_DF_updated.csv")
#DF2
ensemble_genes_IDs = pd.read_csv("/content/ensemble_genes_IDs_updated.csv")

In [252]:
filtered_genes_DF = filtered_genes_DF[['1', '4', '5', '6', 'Gene_ID']]
len(filtered_genes_DF)

35717

In [253]:
ensemble_genes_IDs.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Entry', 'Ensembl', 'Gene_ID'], dtype='object')

In [254]:
ensemble_genes_IDs = ensemble_genes_IDs[['Entry', 'Ensembl', 'Gene_ID']]
ensemble_genes_IDs.head()

    Entry          Ensembl  Gene_ID
0  Q7L0R7  ENSG00000146083    22838
1  P62750  ENSG00000198242     6147
2  Q9NVJ2  ENSG00000134108    55207
3  Q96ES6  ENSG00000167700   113655
4  P35080  ENSG00000070087     5217

In [255]:
#ensemble_genes_IDs = ensemble_genes_IDs[['Entry', 'Ensembl','Gene_ID']]
len(ensemble_genes_IDs)

5299

In [256]:
df3 = pd.merge(filtered_genes_DF, ensemble_genes_IDs, on="Gene_ID", how="left")
m = ~df3["Ensembl"].isna()

df3.loc[m, "Gene_ID"] = df3.loc[m, "Ensembl"]

In [257]:
df3 = df3[filtered_genes_DF.columns]

In [258]:
df3 = df3[df3['Gene_ID'].astype('str').str.contains("ENSG")]
#df3['Gene_ID'].isna().sum()

In [259]:
#DF3
df3[filtered_genes_DF.columns].to_csv("/content/ensemble_genes_IDs_updated_df3.csv")